services:
  backend:
    build:
      context: .
      target: backend
    env_file: ./sprintplanner-api/.env
    volumes:
      - backend-data:/app/data
    environment:
      - DATABASE_URL=/app/data/data.db

  nginx:
    build:
      context: .
      target: nginx
    ports:
      - "8080:8080"
    depends_on:
      - backend

volumes:
  backend-data:
